* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

body {
    /* min-height: 60vh; */
    display: flex;
    flex-direction: column;
    gap: 10;
    /* height: 100%; */
}

body {
    font-family: 'Raleway', sans-serif;
    /* background-image: radial-gradient(circle at center, #899Dc4, #495D84); */
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: radial-gradient(ellipse at bottom, #1b2735, #090a0f); */
    font-weight: 300;
}

.all {
    display: flex;
    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1.3s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
}

.all:hover {
    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);

    .text {
        opacity: 1;
    }

    &>div {
        opacity: 1;
        transition-delay: 0s;
    }

    .explainer {
        opacity: 0;
    }
}

.left,
.center,
.right,
.lefter,
.righter {
    width: 200px;
    height: 150px;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 20px 5px rgb(211, 211, 211);
    opacity: 0;
    transition: all .3s ease;
    transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    background-blend-mode: color-burn;

    &:hover {
        box-shadow: 0 0 20px 5px rgb(211, 211, 211);
        background-color: #f3f3f3;
    }
}

.text {
    transform: translateY(30px);
    opacity: 0;
    transition: all .3s ease;
    bottom: 0;
    left: 5px;
    position: absolute;
    will-change: transform;
    /* text-shadow: 0 0 10px #028bd5 */
}

.lefter {
    transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png);
}

.left {
    transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png);
}

.center {
    opacity: 1;
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png);
}

.right {
    transform: translateX(30px) translateZ(-25px) rotateY(5deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png);
}

.righter {
    transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png);
}

.explainer {
    font-weight: 300;
    font-size: 2rem;
    transition: all .6s ease;
    width: 100%;
    height: 100%;
    /* background-color: #303050; */
    background-image: radial-gradient(circle at center top, #cfcfcf, #f8f8f8);
    /* border-radius: 10px; */
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);

    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 250px !important;
}


.ref {
    background-color: #000;
    background-image: linear-gradient(to bottom, #d80, #c00);
    border-radius: 3px;
    padding: 7px 10px;
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);

    &::first-letter {
        font-size: 12px;
    }
}

.cubeContainer {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: -80px; */
    transform: skewY(-20deg);
    animation: animate 5s linear infinite;

    .cube {
        position: relative;
        z-index: 2;

        &:nth-child(2) {
            z-index: 1;
            translate: -60px -60px;
        }

        &:nth-child(3) {
            z-index: 3;
            translate: 60px 60px;
        }

        div {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 30px;
            translate: calc(-70px * var(--x)) calc(-60px * var(--y));

            span {
                position: relative;
                display: inline-block;
                width: 50px;
                height: 50px;
                background: #dcdcdc;
                z-index: calc(1 * var(--i));
                transition: 1.5s;

                &:hover {
                    transition: 0s;
                    background: #ef4149;
                    filter: drop-shadow(0 0 30px #ef4149);

                    &:before,
                    &:after {
                        transition: 0s;
                        background: #ef4149;
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: -40px;
                    width: 40px;
                    height: 100%;
                    background: #fff;
                    transform-origin: right;
                    transform: skewY(45deg);
                    transition: 1.5s;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: -40px;
                    left: 0px;
                    width: 100%;
                    height: 40px;
                    background: #f2f2f2;
                    transform-origin: bottom;
                    transform: skewX(45deg);
                    transition: 1.5s;
                }
            }
        }
    }
}

.main {
    position: relative;
}

/* .banner{
    display: flex;
    flex-direction: row;
    gap: 30px;
} */
/* .main h1 {
    position: absolute;
} */
/* 
.maintxt {
    color: white;
    font-size: 20px;
} */

.maintxt h1 {
    color: white;
    font-size: 40px;
    z-index: 99;
    position: relative;
}

.imags img {
    --f: .1;
    /* the parallax factor (the smaller the better) */
    --r: 10px;
    /* radius */

    --_f: calc(100%*var(--f)/(1 + var(--f)));
    --_a: calc(90deg*var(--f));
    width: 250px;
    /* the image size */
    aspect-ratio: calc(1 + var(--f));
    object-fit: cover;
    clip-path: inset(0 var(--_f) 0 0 round var(--r));
    transform: perspective(400px) var(--_t, rotateY(var(--_a)));
    transition: .5s;
    cursor: pointer;
}

.imags img:hover {
    clip-path: inset(0 0 0 var(--_f) round var(--r));
    --_t: translateX(calc(-1*var(--_f))) rotateY(calc(-1*var(--_a)))
}

.imags {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    grid-auto-flow: column;
    gap: 30px;
    background: #C44D58;
}

.shadow-custom{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), -4px -2px 4px 0px #FFF;
}

.shadow-outside{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);  
}

.shadow-outer {
    box-shadow: 5px 5px 15px 0 rgb(0 0 0 / 16%)
}

.shadow-inner1 {
    box-shadow: inset 5px 5px 15px rgb(0 0 0 / 20%);
}